//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//


// Border radiues
$border-radius:               						0.95rem;
$border-radius-sm:            						.475rem;

// Card
$card-border-radius:                				$border-radius;

// Accordion
$accordion-border-radius:                           $border-radius;

// Button
$btn-border-radius-sm:                              $border-radius;

// Accordion
$accordion-border-radius:                           $card-border-radius;

// Modals
$modal-content-border-radius:                       $card-border-radius;

// Badge
$badge-border-radius:                               $border-radius-sm;